{% extends 'base.html.twig' %}
{% block title %}Inicio{% endblock %}
{% block body %}
<div class="section-bgc intro">
				<div class="intro-item intro-item-type-1" style="background-image: url('assets/img/intro-img1.jpg');">
					<div class="container">
						<div class="row">
							<div class="col">
								<div class="intro-content" style="--margin-left: 4rem;">
									<div class="section-heading shm-none">
										<div class="section-subheading">¡Proximamente!</div>
										<h1>Seguimiento Premium de Codigos QR</h1>
										<p class="section-desc">Sacale el maximo provecho a tus codigos QR con nuestra suscripcion premium.Obtén seguimiento avanzado de tus codigos y acceso a características exclusivas que te permitirán supervisar y analizar el rendimiento de tus códigos QR de manera más detallada.</p>
									</div>
									<div class="btn-group intro-btns">
										<a href="https://www.templatemonster.com/website-templates/pathsoft-it-solutions-for-your-business-services-website-template-83414.html?utm_campaign=blog_site_KovalWeb&utm_source=KovalWeb&utm_medium=referral&aff=KovalWeb" class="btn btn-border btn-with-icon btn-small ripple">
											<span>Suscribirme</span>
											<svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="assets/img/sprite.svg#arrow-right"></use></svg>
										</a>
										<a href="https://www.templatemonster.com/wordpress-themes/pathsoft-it-solutions-for-your-business-services-wordpress-theme-99496.html?utm_campaign=blog_site_KovalWeb&utm_source=KovalWeb&utm_medium=referral&aff=KovalWeb" class="btn btn-border btn-with-icon btn-small ripple">
											<span>Mas informacion</span>
											<svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="assets/img/sprite.svg#arrow-right"></use></svg>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<section id="qr-design-area" class="section">
    <div class="container">
        <div class="row">
            <header class="col-12">
                <div class="section-heading heading-center">
                    <div class="section-subheading">Crea códigos QR dinámicos gratis</div>
                    <h1>Nuestros servicios</h1>
                    <p class="section-desc">Los Códigos QR que ofrecemos son completamente gratuitos y nunca expirarán, una vez creado, nunca lo perderás.</p>
                </div>
            </header>
            <div class="col-md-6">
                <div id="qr-generator">
                    <div class="options">
                        <button id="url-section" class="option-button" data-type="url"><i class="material-icons">public</i> URL</button>
                        <button id="text-section" class="option-button" data-type="texto"><i class="material-icons">text_format</i> Texto</button>
                        <button id="email-section" class="option-button" data-type="email"><i class="material-icons">email</i> Email</button>
                        <button id="sms-section" class="option-button" data-type="sms"><i class="material-icons">sms</i> SMS</button>
                        <button id="wifi-section" class="option-button" data-type="wifi"><i class="material-icons">group</i> Wifi</button>
                    </div>
                    <div id="qr-url-area" style="display: none;">
					<h2>URL:</h2>
					<form id="qr-url-form">
                        <input type="text" id="qr-url-input" name="qr-url-input" placeholder="Ingresa tu URL">
					</form>
						{{ include ('partials/_sizeQR.html.twig')}}
                    </div>
					<div id="qr-email-area" style="display:none;">
						<h2>Código QR Email</h2>
						<form id="qr-email-form">
							<div class="form-group">
								<label for="email-address">Email:</label>
								<input type="email" id="email-address" name="email-address" placeholder="Dirección de email" required>
							</div>
							<div class="form-group">
								<label for="email-subject">Asunto:</label>
								<input type="text" id="email-subject" name="email-subject" placeholder="Asunto del email">
							</div>
							<div class="form-group">
								<label for="email-message">Mensaje:</label>
								<textarea id="email-message" name="email-message" placeholder="Por favor, envíenme información sobre..."></textarea>
							</div>
						</form>
						{{ include ('partials/_sizeQR.html.twig')}}
					</div>
					<div id="qr-texto-area" style="display: none;">
					<h2>Texto:</h2>
					<form id="qr-text-form">
                        <textarea id="qr-text-input" name="qr-text-input" placeholder="Pega tu texto aqui:"></textarea>
					</form>
						{{ include ('partials/_sizeQR.html.twig')}}
                    </div>
					<div id="qr-sms-area" style="display:none;">
						<h2>SMS:</h2>
						<form id="qr-sms-form">
							<div class="form-group">
								<label for="sms-phone">Telefono:</label>
								<input type="tel" id="sms-phone" name="sms-phone" placeholder="Numero de telefono" required>
							</div>
							<div class="form-group">
								<label for="sms-message">Mensaje:</label>
								<textarea id="sms-message" name="sms-message" placeholder="Por favor, envíenme información sobre..."></textarea>
							</div>
						</form>
						{{ include ('partials/_sizeQR.html.twig')}}
					</div>
					<div id="qr-wifi-area" style="display:none;">
						<h2>Wifi:</h2>
						<form id="qr-wifi-form">
							<div class="form-group">
								<label for="wifi-red">Nombre de la red:</label>
								<input type="text" id="wifi-red" name="wifi-red" placeholder="SSID" required>
							</div>
							<div class="form-group">
								<label for="wifi-contraseña">Contraseña:</label>
								<input type="text" id="wifi-contraseña" name="wifi-contraseña" placeholder="Por favor, envíenme información sobre...">
							</div>
							 <div class="form-group">
            <label>Seguridad:</label>
            <div>
                <input type="radio" id="wifi-ninguna" name="wifi-seguridad" value="ninguna" checked>
                <label for="wifi-ninguna">Ninguna</label>
            </div>
            <div>
                <input type="radio" id="wifi-wpa" name="wifi-seguridad" value="WPA">
                <label for="wifi-wpa">WPA/WPA2</label>
            </div>
            <div>
                <input type="radio" id="wifi-wep" name="wifi-seguridad" value="WEP">
                <label for="wifi-wep">WEP</label>
            </div>
        </div>
						</form>
						{{ include ('partials/_sizeQR.html.twig')}}
					</div>
					
                    <button id="generate-qr" class="btn btn-border ripple">
					<span>Generar QR</span>
					</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="qr-section">
                    <div class="qr-preview">
                        <img src="{{asset('assets/img/qr-preview.png')}}" alt="QR Code" class="img-fluid" width="250px" />

                    </div>
                    <div class="qr-options">
                        <!-- Suponiendo que tendrás opciones de marcos y estilos para los QRs -->

						<div class="accordion">
								<div class="row gutters-default">
									<div class="col-lg-12 col-12">
										<ul class="accordion-list">
											<li class="accordion-item section-bgc option-category">
												<div class="accordion-trigger">COLOR</div>
												<div class="accordion-content content">
												<div class="images-row">
								<label for="colorForeground">Color del QR:</label>
<input type="color" id="colorForeground" name="colorForeground" value="#000000"> <!-- Negro por defecto -->

<label for="colorBackground">Color de Fondo:</label>
<input type="color" id="colorBackground" name="colorBackground" value="#ffffff"> <!-- Blanco por defecto -->
												</div>
												</div>
											</li>
											<li class="accordion-item section-bgc option-category">
    <div class="accordion-trigger">LOGOTIPO</div>
    <div class="accordion-content content">
        <!-- Formulario de carga del logo -->
        <form id="logo-form" method="post" enctype="multipart/form-data">
            <label for="file-upload" class="upload-link">Sube tu logo</label>
            <input type="file" name="logo" id="file-upload" style="display:none;"/>
        </form>
    </div>
</li>
										</ul>
									</div>
								</div>
						</div>
  </div>
</div>

                        <!-- Botones de descarga -->
                        <div class="download-options">
    <button class="download-button ripple" id="download-jpg" data-format="jpg">
	<span>Descargar JPG</span>
	</button>
    <button class="download-button ripple" id="download-vector" data-format="svg">
	<span>Descargar SVG</span>
	</button>
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{{ include ('partials/_reasons.html.twig')}}


			<section class="section section-bgc">
				<div class="container">
					<div class="row items">
						<header class="col-12">
							<div class="section-heading heading-center">
								<div class="section-subheading">Te interesa</div>
								<h2>Ultimas Novedades</h2>
							</div> 
						</header>
						<div class="col-lg-4 col-md-6 col-12 item">
							<article class="news-item item-style">
								<a href="news-post.html" class="news-item-img el">
									<img data-src="assets/img/news-img-1.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</a>
								<div class="news-item-info">
									<div class="news-item-date">07/01/2021</div>
									<h3 class="news-item-heading item-heading">
										<a href="news-post.html" title="Benefits Of Async/Await">Benefits Of Async/Await</a>
									</h3>
									<div class="news-item-desc">
										<p>Asynchronous functions are a good and bad thing in JavaScript.</p>
									</div>
								</div>
							</article>
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<article class="news-item item-style">
								<a href="news-post.html" class="news-item-img el">
									<img data-src="assets/img/news-img-2.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</a>
								<div class="news-item-info">
									<div class="news-item-date">05/01/2021</div>
									<h3 class="news-item-heading item-heading">
										<a href="news-post.html" title="Key Considerations Of IPaaS">Key Considerations Of IPaaS</a>
									</h3>
									<div class="news-item-desc">
										<p>Digital transformation requires cloud appropriate adoption</p>
									</div>
								</div>
							</article>
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<article class="news-item item-style">
								<a href="news-post.html" class="news-item-img el">
									<img data-src="assets/img/news-img-3.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</a>
								<div class="news-item-info">
									<div class="news-item-date">01/01/2021</div>
									<h3 class="news-item-heading item-heading">
										<a href="news-post.html" title="Hibernate Query Language">Hibernate Query Language</a>
									</h3>
									<div class="news-item-desc">
										<p>In this tutorial, we will discuss the Hibernate Query Language. </p>
									</div>
								</div>
							</article>
						</div>
						<footer class="section-footer col-12 item section-footer-animate">
							<div class="btn-group align-items-center justify-content-center">
								<a href="{{ path('news') }}" class="btn btn-with-icon btn-w240 ripple">
									<span>Ver todas</span>
									<svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="assets/img/sprite.svg#arrow-right"></use></svg>
								</a>
							</div>
						</footer>
					</div>
				</div>
			</section>
		</div>

<script src="assets/js/generarQr.js"></script>
<script src="assets/js/modificarQr.js"></script>
<script src="{{asset("assets/js/descargarQr.js")}}"></script>

{% endblock %}