{% extends 'base.html.twig' %}
{% block title %}Novedades{% endblock %}
{% block body %}
<!-- Begin bread crumbs -->
			<nav class="bread-crumbs">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<ul class="bread-crumbs-list">
								<li>
									<a href="{{ path('index') }}">Inicio</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li>Novedades</li>
							</ul>
						</div>
					</div>
				</div>
			</nav><!-- End bread crumbs -->

			<div class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-heading heading-center section-heading-animate">
								<div class="section-subheading">Aprovecha todas las ventajas del mundo QR</div>
								<h1>Novedades</h1>
								<p class="section-desc">Nuestros códigos QR ofrecen una forma eficaz de conectar el mundo físico con el digital, proporcionando a los consumidores una experiencia más interactiva y brindando a los especialistas en marketing datos valiosos sobre la efectividad de sus campañas.
								Aqui tienes algunas ideas de como implementar y sacar el maximo provecho a tus codigos QR.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin news item -->
							<article class="news-item item-style">
								<a href="{{ path('services') }}" class="news-item-img el">
									<img data-src="assets/img/flyers.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="flyers">
								</a>
								<div class="news-item-info">
									<div class="news-item-date">17/02/2024</div>
									<h2 class="news-item-heading item-heading">
										<a href="{{ path('services') }}"  title="Flyers">Flyers</a>
									</h2>
									<div class="news-item-desc">
										<p>Combinar el marketing tradicional y el virtual aumenta las posibilidades de visibilidad e impacto de tu negocio</p>
									</div>
								</div>
							</article><!-- End news item -->
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin news item -->
							<article class="news-item item-style">
								<a href="{{ path('services') }}" class="news-item-img el">
									<img data-src="assets/img/folletos.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="folletos">
								</a>
								<div class="news-item-info">
									<div class="news-item-date">17/02/2024</div>
									<h2 class="news-item-heading item-heading">
										<a href="{{ path('services') }}"  title="Folletos">Folletos</a>
									</h2>
									<div class="news-item-desc">
										<p>Los códigos QR añaden un elemento interactivo a los folletos. Los consumidores pueden participar activamente escaneando el código y explorando el contenido digital asociado, lo que puede generar un mayor interés y participación.</p>
									</div>
								</div>
							</article><!-- End news item -->
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin news item -->
							<article class="news-item item-style">
							<a href="{{ path('services') }}" class="news-item-img el">
									<img data-src="assets/img/tarjetas.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="tarjetas">
									</a>
								<div class="news-item-info">
									<div class="news-item-date">17/02/2024</div>
									<h2 class="news-item-heading item-heading">
										<a href="{{ path('services') }}"  title="Tarjetas de visita">Tarjetas de visita</a>
									</h2>
									<div class="news-item-desc">
										<p>Permite a las personas acceder fácilmente a información adicional sobre ti o tu empresa. </p>
									</div>
								</div>
							</article><!-- End news item -->
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin news item -->
							<article class="news-item item-style">
								<a href="{{ path('services') }}" class="news-item-img el">
									<img data-src="assets/img/expositor-de-mesa.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="expositores de mesa">
								</a>
								<div class="news-item-info">
									<div class="news-item-date">17/02/2024</div>
									<h2 class="news-item-heading item-heading">
										<a href="{{ path('services') }}"  title="Expositores de mesa">Expositores de mesa</a>
									</h2>
									<div class="news-item-desc">
										<p>Ofrece una forma eficiente de proporcionar información detallada sobre productos, servicios o cualquier otro contenido relevante, interactuar con los visitantes y recopilar datos valiosos, todo mientras mejora la imagen de tu empresa en eventos y ferias. </p>
									</div>
								</div>
							</article><!-- End news item -->
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin news item -->
							<article class="news-item item-style">
								<a href="{{ path('services') }}" class="news-item-img el">
									<img data-src="assets/img/etiqueta2.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="etiquetas">
								</a>
								<div class="news-item-info">
									<div class="news-item-date">17/02/2024</div>
									<h2 class="news-item-heading item-heading">
										<a href="{{ path('services') }}"  title="Etiquetas">Etiquetas</a>
									</h2>
									<div class="news-item-desc">
										<p>Permite a los consumidores acceder rápidamente a información detallada sobre un producto, como características, especificaciones técnicas, instrucciones de uso o ingredientes.</p>
									</div>
								</div>
							</article><!-- End news item -->
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin news item -->
							<article class="news-item item-style">
								<a href="{{ path('services') }}" class="news-item-img el">
									<img data-src="assets/img/banners.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="banners">
								</a>
								<div class="news-item-info">
									<div class="news-item-date">17/02/2024</div>
									<h2 class="news-item-heading item-heading">
										<a href="{{ path('services') }}"  title="Banners">Banners</a>
									</h2>
									<div class="news-item-desc">
										<p>Permite a los espectadores acceder fácilmente a información adicional sobre productos, servicios o promociones.  </p>
									</div>
								</div>
							</article><!-- End news item -->
						</div>
						
					</div>
				</div>
			</div>

		</div>
{% endblock %}