{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<section class="section">
<div class="container">
    <div class="row">
    <header class="col-12">
        <div class="section-heading">
            <div class="section-subheading">Unete a nosotros</div>
            <h2>Registrate</h2>
        </div>
    </header>
        <div class="col-sm-10 ">
{{ form_errors(registrationForm) }}
        {{ form_start(registrationForm, {'attr': {'id': 'formularioId'}}) }}
            {{ form_row(registrationForm.name,  {'attr': {'class':'form-control'}}) }}
            {{ form_row(registrationForm.email,  {'attr': {'class':'form-control'}}) }}
            {{ form_row(registrationForm.plainPassword,  {'attr': {'class':'form-control'}}, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}<br>

        <button type="submit" class="btn">Registrate</button>
    {{ form_end(registrationForm) }}
    </div>
    </div>
    </div>
    </section>
<script src="assets/js/registerFormValidacion.js"></script>
{% endblock %}