<!-- Begin mobile main menu -->
<nav class="mmm">
    <div class="mmm-content">
        <ul class="mmm-list">
            <li>
            <a href="{{ path('index') }}" data-title="Inicio">
                <span>Inicio</span>
            </a>
        </li>
        <li>
            <a href="{{ path('about') }}" data-title="Acerca de">
                <span>Acerca de</span>
            </a>
        </li>
        <li>
            <a href="{{ path('services') }}" data-title="Servicios">
                <span>Servicios</span>
            </a>
        </li>
        <li>
            <a href="{{ path('news') }}" data-title="Novedades">
                <span>Novedades</span>
            </a>
        </li>
        <li>
            <a href="{{ path('contact') }}" data-title="Contacto">
                <span>Contacto</span>
            </a>
        </li>
        </ul>
    </div>
</nav><!-- End mobile main menu -->