{% extends 'base.html.twig' %}
{% block title %}About{% endblock %}
{% block body %}
<!-- Begin bread crumbs -->
			<nav class="bread-crumbs">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<ul class="bread-crumbs-list">
								<li>
									<a href="index.html">Inicio</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li>Servicios</li>
							</ul>
						</div>
					</div>
				</div>
			</nav><!-- End bread crumbs -->

			<div class="section">
				<div class="container">
					<div class="row items">
						<header class="col-12">
							<div class="section-heading heading-center">
								<div class="section-subheading">Crea codigos QR dinamicos gratis</div>
								<h1>Nuestros servicios</h1>
								<p class="section-desc">Los Códigos QR que ofrecemos son completamente gratuitos y nunca expirarán, una vez creado, nunca lo perderás.</p>
							</div>
						</header>
						<div class="col-12 item">
							<div class="row items">
								<div class="col-md-6 col-xl-4 col-12 item">
									<a href="{{ path('index', {'type': 'url'}) }}#qr-design-area" class="iitem item-style iitem-hover">
										<div class="iitem-icon">
											<i class="material-icons material-icons-outlined md-48">corporate_fare</i>
										</div>
										<div class="iitem-icon-bg">
											<i class="material-icons material-icons-outlined">corporate_fare</i>
										</div>
										<h2 class="iitem-heading item-heading-large">URL</h2>
										<div class="iitem-desc">Este tipo de código QR te permite crear rápidamente enlaces directos a páginas web. Al generar un código QR de tipo URL, puedes simplificar el acceso a tu sitio web, compartir enlaces a contenido específico o incluso dirigir a usuarios a plataformas en línea. ¡Genera tu código QR de URL y simplifica el acceso a tus recursos digitales!</div>
									</a>
								</div>
								<div class="col-md-6 col-xl-4 col-12 item">
									<a href="{{ path('index', {'type': 'texto'}) }}#qr-design-area" class="iitem item-style iitem-hover">
										<div class="iitem-icon">
											<i class="material-icons material-icons-outlined md-48">support_agent</i>
										</div>
										<div class="iitem-icon-bg">
											<i class="material-icons material-icons-outlined">support_agent</i>
										</div>
										<h2 class="iitem-heading item-heading-large">Texto</h2>
										<div class="iitem-desc">Los códigos QR de tipo texto son una herramienta versátil para transmitir información escrita de manera eficiente. Al generar un código QR de texto, puedes incorporar mensajes, notas, instrucciones o cualquier contenido escrito directamente en el código QR.</div>
									</a>
								</div>
								<div class="col-md-6 col-xl-4 col-12 item">
									<a href="{{ path('index', {'type': 'email'}) }}#qr-design-area" class="iitem item-style iitem-hover">
										<div class="iitem-icon">
											<i class="material-icons material-icons-outlined md-48">cloud_done</i>
										</div>
										<div class="iitem-icon-bg">
											<i class="material-icons material-icons-outlined">cloud_done</i>
										</div>
										<h2 class="iitem-heading item-heading-large">Email</h2>
										<div class="iitem-desc">Los códigos QR de tipo email simplifican el proceso de contacto a través del escaneo. Al generar un código QR de email, facilitas que los usuarios envíen mensajes electrónicos directamente al escanear el código. Mejora la eficiencia en la comunicación y fomenta la interacción rápida con tu dirección de correo electrónico. </div>
									</a>
								</div>
								<div class="col-md-6 col-xl-4 col-12 item">
									<a href="{{ path('index', {'type': 'sms'}) }}#qr-design-area" class="iitem item-style iitem-hover">
										<div class="iitem-icon">
											<i class="material-icons material-icons-outlined md-48">laptop_mac</i>
										</div>
										<div class="iitem-icon-bg">
											<i class="material-icons material-icons-outlined">laptop_mac</i>
										</div>
										<h2 class="iitem-heading item-heading-large">SMS</h2>
										<div class="iitem-desc">Los códigos QR de tipo SMS simplifican el proceso de enviar mensajes de texto. Al generar un código QR de SMS, estás creando un enlace directo que, al ser escaneado, abrirá automáticamente la aplicación de mensajes de texto del dispositivo del usuario, listo para enviar un mensaje predeterminado o predefinido. Esta funcionalidad agiliza la comunicación, permitiendo a las personas interactuar rápidamente mediante el escaneo del código QR.</div>
									</a>
								</div>
								<div class="col-md-6 col-xl-4 col-12 item">
									<a href="{{ path('index', {'type': 'wifi'}) }}#qr-design-area" class="iitem item-style iitem-hover">
										<div class="iitem-icon">
											<i class="material-icons material-icons-outlined md-48">phone_android</i>
										</div>
										<div class="iitem-icon-bg">
											<i class="material-icons material-icons-outlined">phone_android</i>
										</div>
										<h2 class="iitem-heading item-heading-large">Wifi</h2>
										<div class="iitem-desc">Los códigos QR de tipo WiFi están diseñados para facilitar la conexión a redes inalámbricas. Al generar un código QR de WiFi, incorporas la información necesaria para conectarse a una red específica. Cuando los usuarios escanean el código, se configuran automáticamente para acceder a la red, eliminando la necesidad de ingresar manualmente detalles como el nombre de la red y la contraseña. Este método simplificado mejora la experiencia de conectividad, especialmente en entornos donde se comparten redes.</div>
									</a>
								</div>
								<div class="col-md-6 col-xl-4 col-12 item">
									<a href="{{ path('index', {'type': 'texto'}) }}#qr-design-area" class="iitem item-style iitem-hover">
										<div class="iitem-icon">
											<i class="material-icons material-icons-outlined md-48">tv</i>
										</div>
										<div class="iitem-icon-bg">
											<i class="material-icons material-icons-outlined">tv</i>
										</div>
										<h2 class="iitem-heading item-heading-large">PREMIUM</h2>
										<div class="iitem-desc">Experimenta lo mejor con nuestro servicio premium, diseñado para llevar tu experiencia de generación de códigos QR al siguiente nivel. Con características exclusivas, nuestro servicio premium ofrece:</div>
										<ul>
											<li>Seguimiento avanzado</li>
											<li>Almacenamiento Privado de Códigos QR</li>
											<li>Soporte premium 24/7</li>
										</ul>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
{% endblock %}
