<!DOCTYPE html><html lang="es">
<head>
    <meta charset="utf-8">
    <!-- Meta Description -->
    <meta name="description" content="QuickScanCode ofrece una herramienta fácil y rápida para generar códigos QR en línea. Accede a funciones básicas gratis o explora opciones avanzadas con nuestra suscripción premium. Ideal para negocios y uso personal.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
        
    <!-- Favicon -->
    <link rel="icon" href="{{asset('assets/img/favicon/qr.png')}}" type="image/x-icon"> 
    
    <!-- Title -->
    <title>{% block title %}QuickScanCode - Generador de Códigos QR{% endblock %}</title>
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-grid.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/styleScripts.css') }}">
    
    <!-- Preload Fonts -->
    <link rel="preload" href="{{ asset('assets/fonts/source-sans-pro-v21-latin/source-sans-pro-v21-latin-regular.woff2') }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ asset('assets/fonts/source-sans-pro-v21-latin/source-sans-pro-v21-latin-700.woff2') }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ asset('assets/fonts/montserrat-v25-latin/montserrat-v25-latin-700.woff2') }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ asset('fonts/montserrat-v25-latin/montserrat-v25-latin-600.woff2') }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ asset('assets/fonts/material-icons/material-icons.woff2') }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ asset('assets/fonts/material-icons/material-icons-outlined.woff2') }}" as="font" type="font/woff2" crossorigin>
</head>

<body>

	<main class="main">
		
		<div class="main-inner">

			<!-- Begin mobile main menu -->
{{ include ('partials/_smartphoneNavigation.html.twig')}}
<!-- End mobile main menu -->

<!-- Login nav -->
{{ include ('partials/_loginNav.html.twig')}}

<header class="header header-minimal">
    <nav class="header-fixed">
        <div class="container">
            <div class="row flex-nowrap align-items-center justify-content-between">
                <div class="col-auto header-fixed-col logo-wrapper">
                    <a href="{{ path('index') }}" title="QuickScanCode">
                        <img src="assets/img/Quickscancode.png" width="300" height="60" alt="Quick">
                    </a>
                </div>
                <div class="col-auto col-xl col-static header-fixed-col d-none d-xl-block">
                    <div class="row flex-nowrap align-items-center justify-content-end">
                        <div class="col header-fixed-col d-none d-xl-block col-static">
<!-- Begin main menu -->
{{ include ('partials/_navigation.html.twig')}}
<!-- End main menu -->
                        </div>
                    </div>
                </div>
                <div class="col-auto d-block d-xl-none header-fixed-col">
                    <div class="main-mnu-btn">
                        <span class="bar bar-1"></span>
                        <span class="bar bar-2"></span>
                        <span class="bar bar-3"></span>
                        <span class="bar bar-4"></span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

{% block body %}{% endblock %}

{% if not cookieAceptada %}
{{ include ('partials/_cookies.html.twig')}}
{% endif %}

<!-- Scroll up button -->
{{ include ('partials/_scrollUp.html.twig')}}

<!-- Footer login nav-->
{{ include ('partials/_loginNav.html.twig')}}

<!-- Modal para Registro Javascript-->
{{ include ('partials/_registerScript.html.twig')}}

<!-- Begin footer -->
<footer class="footer footer-minimal">
    <div class="footer-main">
        <div class="container">
            <div class="row items align-items-center">
                <div class="col-lg-3 col-md-4 col-12 item">
                    <div class="widget-brand-info">
                        <div class="widget-brand-info-main">
                            <a href="{{ path('index') }}"  title="QuickScanCode logo">
                                <img src="assets/img/Quickscancode-logo-black.png" width="300" height="60" alt="QuickScanCode logo">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md item">
                    {{ include ('partials/_navigationBottom.html.twig')}}
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row justify-content-between items">
                <div class="col-md-auto col-12 item">
                    <nav class="footer-links">
                        <ul>
                            <li><a href="{{ path('terms') }}">Terminos y Condiciones</a></li>
                            <li><a href="{{ path('privacy') }}">Politica de privacidad</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-auto col-12 item">
                    <div class="copyright">© 2024 QuickScanCode. Programado por Nicolas Rivera, todos los derechos reservados.</div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End footer -->

	</main><!-- End main -->
{% block javascripts %}
	<script src="{{asset("assets/libs/jquery/jquery.min.js")}}"></script>
<script src="{{asset("assets/libs/lozad/lozad.min.js")}}"></script>
<script src="{{asset("assets/libs/device/device.js")}}"></script>
<script src="{{asset("assets/libs/spincrement/jquery.spincrement.min.js")}}"></script>
<script src="{{asset("assets/libs/pristine/pristine.min.js")}}"></script>
<script src="{{asset("assets/js/custom.js")}}"></script>
<script src="{{asset("assets/js/scroll.js")}}"></script>
<script src="{{asset("assets/js/cookies.js")}}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
<script src="{{asset("assets/js/efectosTipoQr.js")}}"></script>
<script src="{{asset("assets/js/validacionTiposQr.js")}}"></script>
<!-- <script src="assets/js/forms.js"></script> --> 
{% endblock %}
</body>
</html>
