<!DOCTYPE html><html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="description" content="Description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
        
    <link rel="icon" href="assets/img/favicon/favicon.ico" type="image/x-icon"> 
    <title>{% block title %}Inicio{% endblock %}</title>

    <link rel="stylesheet" href="assets/css/bootstrap-grid.css">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/styleScripts.css">
    <link rel="preload" href="assets/fonts/source-sans-pro-v21-latin/source-sans-pro-v21-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="assets/fonts/source-sans-pro-v21-latin/source-sans-pro-v21-latin-700.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="assets/fonts/montserrat-v25-latin/montserrat-v25-latin-700.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="assets/fonts/montserrat-v25-latin/montserrat-v25-latin-600.woff2" as="font" type="font/woff2" crossorigin>

<link rel="preload" href="assets/fonts/material-icons/material-icons.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="assets/fonts/material-icons/material-icons-outlined.woff2" as="font" type="font/woff2" crossorigin>

</head>

<body>

	<main class="main">
		
		<div class="main-inner">

			<!-- Begin mobile main menu -->
<nav class="mmm">
    <div class="mmm-content">
        <ul class="mmm-list">
            <li>
                <a href="index.html">Inicio</a>
            </li>
            <li>
                <a href="about-us.html">Acerca de</a>
            </li>
            <li>
                <a href="services.html">Servicios</a>
            </li>
            <li>
                <a href="news.html">Novedades</a>
            </li>
            <li>
                <a href="contacts.html">Contacto</a>
            </li>
        </ul>
    </div>
</nav><!-- End mobile main menu -->

<!-- Login nav -->
{{ include ('partials/_loginNav.html.twig')}}

<header class="header header-minimal">
    <nav class="header-fixed">
        <div class="container">
            <div class="row flex-nowrap align-items-center justify-content-between">
                <div class="col-auto header-fixed-col logo-wrapper">
                    <a href="index.html" class="logo" title="PathSoft">
                        <img src="assets/img/logo.svg" width="115" height="36" alt="PathSoft">
                    </a>
                </div>
                <div class="col-auto col-xl col-static header-fixed-col d-none d-xl-block">
                    <div class="row flex-nowrap align-items-center justify-content-end">
                        <div class="col header-fixed-col d-none d-xl-block col-static">
<!-- Begin main menu -->
{{ include ('partials/_navigation.html.twig')}}
<!-- End main menu -->
                        </div>
                    </div>
                </div>
                <div class="col-auto d-block d-xl-none header-fixed-col">
                    <div class="main-mnu-btn">
                        <span class="bar bar-1"></span>
                        <span class="bar bar-2"></span>
                        <span class="bar bar-3"></span>
                        <span class="bar bar-4"></span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

{% block body %}{% endblock %}

{{ include ('partials/_cookiesModal.html.twig')}}

<!-- Scroll up button -->
{{ include ('partials/_scrollUp.html.twig')}}

<!-- Footer login nav-->
{{ include ('partials/_loginNav.html.twig')}}

<!-- Begin footer -->
<footer class="footer footer-minimal">
    <div class="footer-main">
        <div class="container">
            <div class="row items align-items-center">
                <div class="col-lg-3 col-md-4 col-12 item">
                    <div class="widget-brand-info">
                        <div class="widget-brand-info-main">
                            <a href="index.html" class="logo" title="PathSoft">
                                <img data-src="assets/img/logo-white.svg" class="lazy" width="133" height="36" src="assets/img/logo-white.svg" alt="PathSoft" data-loaded="true" style="opacity: 1;">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md item">
                    <div class="footer-item">
                        <nav class="footer-nav">
                            <ul class="footer-mnu footer-mnu-line">
                                <li><a href="#!" class="hover-link" data-title="Inicio"><span>Inicio</span></a></li>
                                <li><a href="#!" class="hover-link" data-title="Acerca de"><span>Acerca de</span></a></li>
                                <li><a href="#!" class="hover-link" data-title="Servicios"><span>Servicios</span></a></li>
                                <li><a href="#!" class="hover-link" data-title="Novedades"><span>Novedades</span></a></li>
                                <li><a href="#!" class="hover-link" data-title="Contacto"><span>Contacto</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row justify-content-between items">
                <div class="col-md-auto col-12 item">
                    <nav class="footer-links">
                        <ul>
                            <li><a href="terms-and-conditions.html">Terminos y Condiciones</a></li>
                            <li><a href="privacy-policy.html">Politica de privacidad</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-auto col-12 item">
                    <div class="copyright">© 2023 psFree. All rights reserved.</div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End footer -->

	</main><!-- End main -->
{% block javascripts %}
	<script src="assets/libs/jquery/jquery.min.js"></script>
<script src="assets/libs/lozad/lozad.min.js"></script>
<script src="assets/libs/device/device.js"></script>
<script src="assets/libs/spincrement/jquery.spincrement.min.js"></script>
<script src="assets/libs/pristine/pristine.min.js"></script>
<script src="assets/js/custom.js"></script>
<script src="assets/js/scroll.js"></script>
<!-- <script src="assets/js/forms.js"></script> --> 
{% endblock %}
</body></html>
